<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <title> <%= title %> </title>
    
    <!-- jQuery [v3.5.1]-->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="/assets/jQuery/jquery-3.5.1.min.js"></script>
    
    <!-- Bootstrap [v4.4.1] -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/assets/Bootstrap/bootstrap.bundle.min.js"></script>
    <link   href="/assets/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->
    <!-- <link   href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" rel="stylesheet"> -->

    <!-- icon : Font-AWESOME [v5.13.0] -->
    <script src="/assets/Font_Awesome/all.min.js" data-auto-replace-svg="nest"></script> <!-- data-auto-replace-svg="nest" this must be added -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" data-auto-replace-svg="nest" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script> -->
    <!-- <link rel="stylesheet" href="/assets/Font_Awesome/all.min.css" data-auto-replace-svg="nest"> -->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"              rel="stylesheet"  type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap"             rel="stylesheet"  type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap"         rel="stylesheet"  type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet"  type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap"       rel="stylesheet"  type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap"           rel="stylesheet"  type="text/css">
    
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    
    <!-- Modenizer [v2.8.3] -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous" type="text/javascript" async></script>
    
    <!-- custom stylesheet and script for all pages -->
    <link href="/style/navbar.css" rel="stylesheet" type="text/css">

    <!-- rendering custom stylesheet for current page -->
    <% if(title == 'Tic-Tac-Toe'){ %>
        <link href="/style/tic-tac-toe.css" rel="stylesheet">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython_stdlib.js"></script>
    <% } else if(title.toLowerCase() == '404 : error'){ %>
        <link href="/style/404.css" rel="stylesheet" type="text/css">
    <% } %>
</head>