<nav class="navbar fixed-top navbar-expand-lg cut-padding-custom">
    <div class="container-fluid">
        <div class="row col-12 cut-padding-custom text-center align-items-center">

            <a class="navbar-brand mb-0" href="/">
                <img src="/images/logo.png" width="55" alt="logo" loading="lazy">
                <span class="h2"> Tic-Tac-Toe </span>
            </a>
            
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto add-padding-custom"> 
                    
                    <a class="nav-item nav-link" id="nav-home" href="/">
                        <i class="fas fa-home fa-fw"></i>
                        Home
                    </a>
        
                    <a class="nav-item nav-link" id="nav-login" href="/">
                        <i class="fab fa-github fa-fw"></i>
                        Github
                    </a>
        
                    <a class="nav-item nav-link" id="nav-register" href="/">
                        <i class="fas fa-info-circle fa-fw"></i>
                        About
                    </a>
        
                </div>
            </div>

        </div>
    </div>
</nav>

